body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
  font-size: 0.85rem;
  position: relative;
}

.container {
  background-color: hsl(0, 0%, 12%);
  border-radius: 0.8rem;
  max-width: 20rem;
  font-weight: 500;
  width: 20rem;
}

.name-header {
  margin-bottom: 0.3rem;
}

.header-image {
  margin-top: 2rem;
  width: 30%;
  border-radius: 50%;
}

.location {
  color: hsl(75, 94%, 57%);
  margin-bottom: 1.8rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.description {
  font-weight: 400;
}

.btn {
  margin: 0.4rem;
  padding: 0.8rem;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.6rem;
  font-weight: 700;
  width: 15rem;
  border-width: 0px;
}

footer {
  position: absolute;
  bottom: 1rem;
}
